body {
  margin: 0;
  max-width: 2000px;
  margin: 0 auto;
}
.Text {
  margin: 0;
  max-width: 750px;
  margin: 0 auto;
}
.Section {
  margin: 0;
  max-width: 750px;
  margin: 0 auto;
}
.firstp {
  margin: 0;
  max-width: 750px;
  margin: 0 auto;
}
.Leftmenu {
  padding: 20px;
  float: left;
}
